<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-qiniu" version="1.0.0">
	<name>cordova-plugin-qiniu</name>
	<description>cordova plugin for qiniu Android and IOS SDK</description>
	<license>MIT</license>
	<keywords>cordova,qiniu</keywords>
	<js-module src="www/qiniu.js" name="qiniu">
		<clobbers target="qiniu"/>
	</js-module>
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<!--functions-->
		</config-file>
		<!-- lib-->
		<source-file src="src/android/libs/happy-dns-0.2.13" target-dir="libs" framework="true" />
		<source-file src="src/android/libs/okhttp-3.9.1" target-dir="libs" framework="true" />
		<source-file src="src/android/libs/okio-1.9.0" target-dir="libs" framework="true" />
		<source-file src="src/android/libs/qiniu-android-sdk-7.3.10" target-dir="libs" framework="true" />
		<!--source code -->
		<source-file src="src/android/java/qiniu.java" target-dir="src/com/cordova/qiniu/"/>
	</platform>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <!--functions-->
    </config-file>
    <framework src="SystemConfiguration.framework" custom="false" />
    <framework src="Security.framework" custom="false" />
    <!--source code -->
    <header-file src="src/ios/Qiniu.h" />
    <source-file src="src/ios/Qiniu.m" />
    <!-- lib-->
  </platform>
</plugin>



