<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-qiniu" version="1.0.0">
	<name>cordova-plugin-qiniu</name>
	<description>cordova plugin for qiniu Android and IOS SDK</description>
	<license>MIT</license>
	<keywords>cordova,qiniu</keywords>
	<js-module src="www/QiNiuUploadPlugin.js" name="QiNiuUploadPlugin">
		<clobbers target="QiNiuUploadPlugin"/>
	</js-module>
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<!--functions-->
			<feature name="QiNiuUploadPlugin">
				<param name="android-package" value="com.cordova.qiniu.QiNiuUploadPlugin"/>
			</feature>
		</config-file>
		<source-file src="src/android/java/QiNiuUploadPlugin.java" target-dir="src/com/cordova/qiniu/"/>
		<config-file target="AndroidManifest.xml" parent="/*">
           	<uses-permission android:name="android.permission.INTERNET"/>
 			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
		<framework src="src/android/qiniu.gradle" custom="true" type="gradleReference" />
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="QiNiuUploadPlugin">
				<param name="ios-package" value="CDVQiNiuUploadPlugin" />
				<!-- <param name="onload" value="true" /> -->
			</feature>
		</config-file>
		<framework src="SystemConfiguration.framework" custom="false" />
		<framework src="Security.framework" custom="false" />
		<framework src="libz.dylib"/>
		<framework src="libresolv.dylib"/>
		<!--source code -->
		<header-file src="src/ios/CDVQiNiuUploadPlugin.h" />
		<source-file src="src/ios/CDVQiNiuUploadPlugin.m" />
		<source-file src="src/ios/libs/libQiniuSDK_iOS.a" framework="true" />
		<source-file src="src/ios/libs/libHappyDNS.a" framework="true" />
		<header-file src="src/ios/libs/QiniuSDK.h" />
		<header-file src="src/ios/libs/BigData/QNPipeline.h" />
		<header-file src="src/ios/libs/Common/QN_GTM_Base64.h" />
		<header-file src="src/ios/libs/Common/QNALAssetFile.h" />
		<header-file src="src/ios/libs/Common/QNAsyncRun.h" />
		<header-file src="src/ios/libs/Common/QNCrc32.h" />
		<header-file src="src/ios/libs/Common/QNEtag.h" />
		<header-file src="src/ios/libs/Common/QNFile.h" />
		<header-file src="src/ios/libs/Common/QNFileDelegate.h" />
		<header-file src="src/ios/libs/Common/QNPHAssetFile.h" />
		<header-file src="src/ios/libs/Common/QNPHAssetResource.h" />
		<header-file src="src/ios/libs/Common/QNSystem.h" />
		<header-file src="src/ios/libs/Common/QNUrlSafeBase64.h" />
		<header-file src="src/ios/libs/Common/QNVersion.h" />
		<header-file src="src/ios/libs/Http/QNHttpDelegate.h" />
		<header-file src="src/ios/libs/Http/QNResponseInfo.h" />
		<header-file src="src/ios/libs/Http/QNSessionManager.h" />
		<header-file src="src/ios/libs/Http/QNUserAgent.h" />
		<header-file src="src/ios/libs/Recorder/QNFileRecorder.h" />
		<header-file src="src/ios/libs/Recorder/QNRecorderDelegate.h" />
		<header-file src="src/ios/libs/Storage/QNConfiguration.h" />
		<header-file src="src/ios/libs/Storage/QNFormUpload.h" />
		<header-file src="src/ios/libs/Storage/QNResumeUpload.h" />
		<header-file src="src/ios/libs/Storage/QNUploadManager.h" />
		<header-file src="src/ios/libs/Storage/QNUploadOption.h" />
		<header-file src="src/ios/libs/Storage/QNUploadOption+Private.h" />
		<header-file src="src/ios/libs/Storage/QNUpToken.h" />
		<!-- happy-dns -->
		<header-file src="src/ios/libs/HappyDNS/HappyDNS.h" />
		<header-file src="src/ios/libs/HappyDNS/QNRefresher.h" />
		<header-file src="src/ios/libs/HappyDNS/Assessment/QNAssessment.h" />
		<header-file src="src/ios/libs/HappyDNS/Assessment/QNIpModel.h" />
		<header-file src="src/ios/libs/HappyDNS/Common/QNDnsManager.h" />
		<header-file src="src/ios/libs/HappyDNS/Common/QNDomain.h" />
		<header-file src="src/ios/libs/HappyDNS/Common/QNLruCache.h" />
		<header-file src="src/ios/libs/HappyDNS/Common/QNNetworkInfo.h" />
		<header-file src="src/ios/libs/HappyDNS/Common/QNRecord.h" />
		<header-file src="src/ios/libs/HappyDNS/Common/QNResolverDelegate.h" />
		<header-file src="src/ios/libs/HappyDNS/Http/QNDnspodEnterprise.h" />
		<header-file src="src/ios/libs/HappyDNS/Http/QNDnspodFree.h" />
		<header-file src="src/ios/libs/HappyDNS/Local/QNHijackingDetectWrapper.h" />
		<header-file src="src/ios/libs/HappyDNS/Local/QNHosts.h" />
		<header-file src="src/ios/libs/HappyDNS/Local/QNResolver.h" />
		<header-file src="src/ios/libs/HappyDNS/Local/QNResolvUtil.h" />
		<header-file src="src/ios/libs/HappyDNS/Local/QNTxtResolver.h" />
		<header-file src="src/ios/libs/HappyDNS/Util/QNDes.h" />
		<header-file src="src/ios/libs/HappyDNS/Util/QNGetAddrInfo.h" />
		<header-file src="src/ios/libs/HappyDNS/Util/QNHex.h" />
		<header-file src="src/ios/libs/HappyDNS/Util/QNIP.h" />
	</platform>
</plugin>



